---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <article>


          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
              {% if post.author %}
                • {{ post.author.display_name }}
              {% endif %}
            </span>
          </h2>

          {{ post.content }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
    {% else %}
      <span class="previous">Anterior</span>
    {% endif %}
    <span class="page_number ">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Siguiente</a>
    {% else %}
      <span class="next ">Siguiente</span>
    {% endif %}
  </div>
  <p class="rss-subscribe">Suscríbete <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
